
#menu{
    position: absolute;
    background: #8AA923;
    top: 0;
    left: 0;
    height: 80%;
    width: 10%;
    padding: 30px 20px;
    list-style: none;
    z-index: 1;
    /*background-image: url('../img/barkley-symbol.png');
    background-size: 85% 100%;
    background-repeat: no-repeat;*/
}

#menu li{
    margin-bottom: 7%;
    text-decoration: none;
    text-align: center;
}

#menu li a{
    color: #444;
    text-decoration: none;
    letter-spacing: 1.5px;
}


#sort{
    display: none;
}
#search{
    display: none;
}