@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro);

body{
margin: 0;
padding: 0;
/*background: #1C140D;*/
background: #EEE;
font-family: "Source Sans Pro";
font-size: 14px;
}

#header{
    width: 100%;
    height: 70px;
    background: #FFFFFF;
    border-bottom: 2px solid #CBE86B;
}

#header #title{
    float: left;
    line-height: 70px;
    padding: 0 7%;
    color: #1C140D;
    font-size: 20px;
    background: url('../img/barkley-logo.png');
    background-size: 100% 100%;
    text-indent: -9999px;
}

#header nav#primary{
float: right;
}

#header nav#primary{
line-height: 70px;
}

#header nav#primary ul{
list-style: none;
margin: 0;
padding: 0;
}

#header nav#primary ul li{
float: left;
}

#header nav#primary ul li a{
    display: block;
    height: 70px;
    padding: 0 14px;
    border-left: 1px solid #EEE;
    text-decoration: none;
    color: #1C140D;
}

#header nav#primary ul li a:hover{
background: #CBE86B;
}

#bk-menu-wrap{
 
}


#dashboard #menu{
    list-style: none;
    width: 100%;
    height: 30px;
    line-height: 30px;
    background: #1C140D;
}

#dashboard #menu li{
    width: 15%;
    text-align: center;
    float: left;
}

#dashboard #menu li:first-child{
    background: #CBE86B;
}



/*//////////////////////////////////Projects\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\*/
#tree{position:relative;background: url('../../bk-includes/img/apple_wood2.jpg');width: 100%;height: 565px; color: #444;}
#bark{position:relative;background: #EEE;width: 90%;min-height: 70%;margin: 0 auto;}

.branch{
    display: none;
    width: 75%;
    border-radius: 4px;
    padding: 20px 40px;
    margin: 0 auto;
}

.branch h3{
    margin: 2% 0;
    padding: 0;
    color: #666;
}

.branch table, .branch th, .branch td{
    border: 1px solid transparent;
    border-left-top-radius: 3px; 
    border-right-top-radius: 3px; 
}
.branch td, .branch th{padding: 10px 15px;text-align: center;}
.branch td{border: none;border-top: 1px solid #EEE;}
.branch th{color: #8AA923;letter-spacing: 1.5px;}


.active{display: block;}

footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 40px;
    background: #FFFFFF;
    border-top: 2px solid #CBE86B;
    line-height: 40px;
    color: #F2E9E1;
}

footer #copyright{
width: 40%;
margin: 0 auto;
color: #98816C;
}

footer #version{
position: absolute;
top: 0;
right: 0;
margin-right: 2%;
}