@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro);

body{
    margin: 0;
    padding: 0;
    background: #1C140D;
    font-family: "Source Sans Pro";
    font-size: 14px;
    background: url('..//img/apple_wood2.jpg');
    background-size: 100% 100%;
    background-position: 83% 0%;
    background-repeat: no-repeat;
    height: 640px;
}


input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill {
    background: #CBE86B !important;
    background-image: none !important;
    color: #FFFFFF !important;
}

::-webkit-input-placeholder {
   color: #F2E9E1;
}

:-moz-placeholder { /* Firefox 18- */
   color: #F2E9E1;  
}

::-moz-placeholder {  /* Firefox 19+ */
    color: #F2E9E1;  
}

:-ms-input-placeholder {  
   color: #F2E9E1;  
}

#header{
width: 100%;
height: 70px;
background: #FFFFFF;
border-bottom: 2px solid #CBE86B;
}

#header #title{
    float: left;
    line-height: 70px;
    padding: 0 7%;
    color: #1C140D;
    font-size: 20px;
    background: url('../../bk-admin/img/barkley-logo.png');
    background-size: 100% 100%;
    text-indent: -9999px;
}

#header ul{
margin: 0;
padding: 0;
list-style: none;
float: right;
}

#header ul li{
float: left;
line-height: 70px;
}

#header ul li input[type="text"], #header ul li input[type="password"]{
    border: 1px solid #F2E9E1;
    border-radius: 3px;
    padding: 5px;
    color: #CBE86B;
    background: #1C140D;
}

#header ul li button{
    border:none;
    padding: 0 10px;
    color: #FFFFFF;
    background: #CBE86B;
}

#header ul li a{
    display: block;
    color: #444;
    text-decoration: none;
    padding: 0 25%;
    height: 70px;
}

/* Call To Action */
#C2A{
    position: relative;
    width: 100%;
    text-align: center;
    height: 1000px;
}

#C2A .title{
    font-size: 50px;
    color: rgba(255, 255, 255, 0.72);
    margin: 0;
    margin-top: 6%;
}

#C2A p{margin:0;}

#C2A .subtitle{
    font-size: 20px;
    color: #CBE86B;
}

#C2A div{
    background: #1C140D;
    height: 33.33%;
}
#C2A div.Attention{
    margin-top: 10%;
    background: #F2E9E1;
}
#C2A div.Interest{
    background: #222;
}
#C2A div.Desire{
    background: #CBE86B;
}
#C2A div.Action{
    background: #FFFFFF;
}

/* 404 */
.NotFound{
    position: relative;
    width: 100%;
    text-align: center;
    height: 00% !important;
}

.NotFound  h2{margin-top: 12% !important;}

#footer{
position: fixed;
bottom: 0;
width: 100%;
height: 40px;
background: #FFFFFF;
border-top: 2px solid #CBE86B;
}

#footer #copyright{
    margin: 0 auto;
    width: 15%;
    line-height: 40px;
    color: #98816C;
}

#footer #version{
    position: absolute;
    top: 0;
    bottom: 0;
    right: 2%;
    line-height: 40px;
    color: #F2E9E1;
}